<% include ./partials/header %>

<h1>Register (Using Skuvault login)</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" name="">
</form>

<% include ./partials/footer %>